body {
	background-color: white;
	background-image: url(background.png);
	background-repeat: repeat;
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
	margin-top: auto; //modified
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

/* Movie Heading */
h1 {
	font-size: 24pt;
	font-family: Tahoma, Verdana, sans-serif;
	text-align: center;
}

/* Top Banner */
.banner {
	background-image: url(bannerbg.png);
	background-repeat: repeat-x;
	height: 50px;
	display: block;
	text-align: center;
}

/* Main Content */
.content { /* main area */
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 4px gray solid;
	/*float: left;*/
}

.overall { /* overall rating area */
	width: 550px;
	background-image: url(rbg.png);
	background-repeat: repeat-x;

}
#column { /* column */ //modified
	width: 550px;
	background-image: url(rbg.png);
	background-repeat: repeat-x;
	margin: auto;

}


#rating { /* overall rating number */
	color: red;
	vertical-align: bottom;
	font-size: 48pt;
	font-weight: bold;
}

#total_reviews { /* total number of reviews */
	color: white;
	vertical-align: 15px;
	margin-top: auto; //modified
	margin-bottom:auto;
	margin-left: auto;
	margin-right: auto;


	
}

.sidebar { /* sidebar with cast and crew */
	width: 250px;
	background-color: #a2b964;
	font-family: Arial, sans-serif;
	float: right;
	margin:auto; //modified
	font-weight: bold;
}
.reviews {
	width: 550px;
}
.reviews .columns {
	float: left;
	padding-left: 2%;
	width: 47%;
}
/*
.reviews #right {
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	width: 47%;
}
*/
.reviews .quote {
	min-height: 24px;
	font-weight: bold;
	background-color: #E1D697;
	border: 2px gray solid;
	padding: 8px;
}

.reviews img {
	float: left;
	padding-right: 5px;
}

#total_reviews_bar {
	text-align: center;
	background-color: #a2b964;
	padding: 5px;
	clear: both;
	margin-top: auto; //modified
	margin-bottom:auto;
	margin-left: auto;
	margin-right: auto;

}
.val{
	float: right;
}